bin
obj
out

*.xcf
*.meta

/Tests/Program.cs
/Utility/DevelopmentEntry.cs
/Source/ASM/i8086/Builds/build.bat
/Source/ASM/i8086/Builds/run.bat
/Tests/TestResults
/Unity/Runtime
/Experiments
